/* start variable */

:root {
    --hover-color:#ffc107;
    --text-color:#1F373D;
    --section-padding:80px;
}


/* end variable */
/* start global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    font-size: 13px;
    letter-spacing: 0.025em;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 00.025em;
}

:focus {
    outline:none
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}

/* small */


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }   
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }   
}

/* medium */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }  
}
    
/* large */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* end globa0l rules */

/* start header */
header {
    position: fixed; 
    z-index: 2;
    background-color: #fff;
    top: 0;
    left: 0;  
    width: 100%;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    transition: 0.5s;
}
header .container.small-nav {
    height: 70px;
}

header .container .logo {
    width: 20%;
    height: 95px;
    display: flex;
    align-items: center;
}
header .container .logo a {
    font-weight: bold;
    font-size: 18pt;
}
header .container .logo a:hover {
    color: var(--hover-color);
}

header .container nav {
    display: flex;
    width: 80%;
    height: 95px;
    justify-content: flex-end;
    align-items: center; /* this for toggle menu*/

}

header .container nav .links {
    display: flex;
    width: 100%;
}
header .container nav ul {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
header .container nav ul li {
    padding: 8px;
}

header .container nav ul li:hover a {
    color: var(--hover-color);
}

header .container nav .botton {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .container nav .botton .join-us {
    width: 40%;
    padding-left: 30px;
}

header .container nav .botton .join-us li:hover a {
    color: var(--hover-color);

}
header .container nav .botton .get-started {
    width: 60%;
}

header .container nav .botton .get-started li {
    width: 100%;
    text-align: center;
    background-color: var(--hover-color);
    padding: 12px 12px;
    margin: 0 5px;
    border: 1px solid var(--hover-color);
    border-radius: 5px;
    transition: 0.4s;
}
header .container nav .botton .get-started li:hover {
    /* background: none; */
    background-color: transparent;
    
}

header .container .toggle-menu {
    cursor: pointer;
}
header .container .toggle-menu span {
    display: block;
    width: 40px;
    height: 5px;
    margin: 6px 0;
    background-color: var(--text-color);
    transition: 0.3s;
}

@media (min-width: 993px) {
    header .container .toggle-menu {
        display: none;
    }
}

@media (max-width: 992px) {
    header .container .toggle-menu.active span:nth-child(2) {
        opacity: 0;
    }
    header .container .toggle-menu.active span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
        /* translatey value is sum of height and margin*/
        
    }
    header .container .toggle-menu.active span:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    header .container nav .links {
        /* display: none; */
        display: flex;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 100%;
        left: -100%;
        flex-direction: column;
        z-index: 9999;
        text-align: center;
        background-color: #fff;
        transition: 0.3s;
    }
    /* header .container nav .toggle-menu:hover+.links {
        display: flex;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        z-index: 9999;
        text-align: center;
        background-color: #fff;
        opacity: 0;
    } */
    header .container nav .links.show {
        left: 0;
    }
    header .container nav .links ul {
        text-align: center;
        flex-direction: column;
        height: 50vh;
        width: 100%;

    }
    header .container nav .links ul li {
        font-size: 15pt;
        padding: 13px;
    }

    header .container nav .links .botton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;   
        margin-top: 30px;     
    }

    header .container nav .links .botton .join-us {
        padding: 0;
        margin-bottom: 15px;
        
    }
    header .container nav .links .botton .get-started {
        width: 85%;
    }
}

/* end header */

/* start landing */
.landing {
    min-height: 100vh;
    position: relative;
    top: 95px;
}

.landing .landing-background {
    position: absolute;
    background-image: url(../image/hero.png);
    background-size: cover;
    background-position: center;
    height: 630px;
    width: 76%;
    right: 50px;
}


.landing .landing-background .land-info {
    position: absolute;
    display: flex;
    background-color: var(--hover-color);
    justify-content:center;
    align-items: center;
    bottom: 0;
    right: 0;
}




.landing .land-info .text {
    display: flex;
    margin: 5px 30px;
    width: 100%;

}

.landing  .land-info p {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px;
} 


@media (max-width: 992px) {
    .landing .land-info  p {
        padding: 20px 10px;   
    } 
}

.landing .info {
    position: absolute;
    width: 60%;
    top: 0;
}
.landing .content {
    margin-top: 60px;
}

.landing .content h1 {
    text-transform: capitalize;
    font-size: 58px;
}

.landing form {
    width: 500px;
    position: relative;
    display: flex;
    box-shadow: 0px 10px 15px 0px rgb(29 31 36 / 10%);
}

@media (max-width:768px) {
    .landing  .land-info p {
        font-size: 15px;
        padding: 20px 10px;
    }
    
    .landing .land-info .text {
        margin: 5px 15px;
    }
    .landing form {
        width: 400px;
    }
}
@media (max-width:576px) {
    .landing form {
        width: 300px;
    }

    .landing .content h1 {
        font-size: 45px;
    }

    .landing .land-info .text {
        margin: 5px 10px;
    }
    .landing  .land-info p {
        font-size: 10px;
        padding: 20px 5px;
    }
    .landing .land-info img {
        width: 15px;
    }
}



.landing form img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.landing form input[type='search'] {
    padding: 25px 40px;
    width: 75%;
    font-size: 15px;
    border: 0;
    background-color: #fff;
}
.landing form button {
    width: 25%;
    justify-content: center;
    font-weight: bold;
    color: var(--text-color);
    font-size: 15px;
    align-items: center;
    padding: 25px 10px;
    background-color: var(--hover-color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.landing form button:hover {
    background-color: rgb(255, 222, 89);
}

.landing .scroll {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 8%;
    cursor: pointer;
}

.landing .scroll p {
    transform: rotate(270deg);
    padding: 40px 0;
    text-transform: capitalize;
    color: #919EB1;
    font-size: 12px;
}

.landing .scroll img {
    height: 30px;
}


/* end landing */

/* start Statistics */
.Statistics {
    padding-bottom:var(--section-padding);
    padding-top:var(--section-padding);
    margin-top: var(--section-padding);
    width: 100%;
    /* max-height: 100vh; */
}

.Statistics .container {
    display: flex;
    flex-wrap: wrap;
    
}

.Statistics .content {
    flex-basis: 50%;
    width: 50%;
}

.Statistics .content h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 70px;
}

.Statistics .content p {
    color: var(var(--text-color));
}

.Statistics .stat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 50%;
    text-align: center;
    width: 50%;
}

.Statistics .Co-Stat {
    background-color: #F6F5F4;
    width: 36%;
    height: 200px;
    margin: 0 0 30px 30px;
    padding-top: 50px;
}

.Statistics span {
    color: var(--hover-color);
    font-size: 40px;
    font-weight: bold;
}


.Statistics h4 {
    text-transform: capitalize;
} 

@media (max-width:992px) {
    .Statistics .container {
        flex-direction: column;
    }

    .Statistics .content {
        flex-basis: 100%;
        width: 100%;
    }

    .Statistics .stat {
        flex-basis: 100%;
        width: 100%;
        padding-top: 60px;
        justify-content: space-around;
    }
}

/* end Statistics */


/* start appartmnet */
.Appartmnet {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #F6F5F4;
}

.Appartmnet .text {
    display: flex;
    width: 100%;
    padding-bottom: 60px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.Appartmnet .text h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.Appartmnet .card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media (max-width:768px) {
    .Appartmnet .card-cont {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .Appartmnet .card-cont .card {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

.Appartmnet .card-cont .card {
    box-shadow: 0px 2px 8px 0px rgb(24 49 56 / 15%);
    max-width: 350px;
}

.Appartmnet .card .image img {
    width: 100%;
    height: 100%;
}

.Appartmnet .card-cont .card .info {
    background-color: #fff;
    padding: 25px 20px ;
}
.Appartmnet .card-cont .card .info .location {
    padding-bottom: 15px;
}
.Appartmnet .card-cont .card .info .location p {
    font-weight: bold;
    font-size: 15px;
}

.Appartmnet .card-cont .card .info .content {
    display: flex;
    justify-content: space-between;
}

.Appartmnet .card-cont .card .info .content span {
    color: var(--hover-color);
    font-weight: bold;
    font-size: 18px;
}

.Appartmnet .card-cont .card .info .content .s-info {
    display: flex;
}

.Appartmnet .card .content .s-info img {
    padding-right: 10px;
}
.Appartmnet .card .content .s-info p {
    padding-right: 20px;
}

.Appartmnet .container .button {
    display: flex;
    margin-top: 50px;
}


.Appartmnet form {
    width: 500px;
    position: relative;
    margin-right: 40px;
    display: flex;
    box-shadow: 0px 10px 15px 0px rgb(29 31 36 / 10%);
}

.Appartmnet form img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.Appartmnet form input[type='search'] {
    padding: 25px 40px;
    width: 75%;
    font-size: 15px;
    border: 0;
    background-color: #fff;
}
.Appartmnet form button {
    width: 25%;
    justify-content: center;
    font-weight: bold;
    color: var(--text-color);
    font-size: 15px;
    align-items: center;
    padding: 25px 10px;
    background-color: var(--hover-color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.Appartmnet form button:hover {
    background-color: rgb(255, 222, 89);
}

@media (max-width:576px) {
    .Appartmnet form button {
        width: 40%;
    }

} 
.Appartmnet button {
    text-transform: capitalize;
    color: black;
    background-color: #fff;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 50px;
    transition: 0.8s;
    border-radius: 5px;
}


@media (max-width:768px) {
    .Appartmnet button {
        padding: 0px 20px;
    } 
}

@media (max-width:576px) {
    .Appartmnet .container .button {
    flex-direction: column;
    }
    .Appartmnet form {
        width:100% ;
        margin-bottom: 30px;
    }
    .Appartmnet button {
        padding: 20px 20px;
    }
}
.Appartmnet button:hover {
    background-color: var(--hover-color);
} 
/* end appartmnet */

/* start how it works */

.how-it-works {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.how-it-works .container {
    position: relative;
}

.how-it-works .text {
    padding-bottom: 20px;
}

.how-it-works .text h3 {
    text-transform: capitalize;
    font-size: 40px;
    padding-bottom: 30px;
}
.how-it-works .text p {
    line-height: 2;
}

.how-it-works .card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 30px;
}


.how-it-works .card-cont .card {
    width: 100%;
    max-width: 345px;
    height: 370px;
    box-shadow: 0px 2px 8px 0px rgb(24 49 56 / 15%);
    transition: 0.5s;
    margin-top: 40px;
    overflow: hidden;
}
.how-it-works .card-cont .card:hover {
    background-color: var(--hover-color);
}
.how-it-works .card-cont .card .num {
    position: relative;
    top: -70px;
    left: -50px;
    font-weight: bold;
    font-size: 160px;
}
.how-it-works .card-cont .card .info {
    display: flex;
    font-weight: bold;
    padding: 0px 20px;
    margin-top: -50px;
    align-items: center;
}
.how-it-works .card-cont .card .info p {
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 15px;
}

.how-it-works .card-cont .card p:nth-last-child(2){
    padding-left: 55px;
    padding-right: 20px;
    margin-top: 25px;
    height: 30%;
    font-size: 13px;
    line-height: 2.5;
    width: 100%;
}
.how-it-works .card-cont .card a{
    display: block;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    padding-left: 55px;
    padding-right: 20px;
}

@media (max-width:992px) {
    .how-it-works .card-cont {
        grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
        text-align: center;
    }

    .how-it-works .card {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .how-it-works .text {
        text-align: center;
    }
    .how-it-works .card-cont .card .num {
        left: -130px;
    }
}

.how-it-works .services {
    padding: 100px 0;
}
.how-it-works .services h3 {
    text-transform: capitalize;
    font-size: 40px;
    padding-bottom: 10px;
}

@media (max-width:992px) {
    .how-it-works .services {
        text-align: center;

    }
}

.how-it-works .ser-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
    grid-column-gap: 150px;
}

@media (max-width:992px) {
    .how-it-works .ser-con {
        grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
        grid-column-gap: 100px;
    }
}

.how-it-works .ser-con .image {
    position: relative;
    width: calc(100% + 90px);
    height: 630px;
    left: -90px;
}
.how-it-works .ser-con .image img {
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .how-it-works .ser-con {
        grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
        grid-row-gap: 60px;
    }

    .how-it-works .ser-con .image {
        width: 100%;
        left: 0;
    }
}
.how-it-works .ser-con .content {
    width: 100%;
}
.how-it-works .ser-con .content .text {
    padding-bottom: 30px;
}
.how-it-works .ser-con .content .text h3 {
    font-size: 25px;
}
.how-it-works .ser-con .content .text p {
    line-height: 2;
}

/* end how it works */

/* start agents */
.agents {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #F6F5F4;
}

.agents .text{
    padding-bottom: 60px;
}
.agents .text h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.agents .text p {
    line-height: 2;
}

.agents .card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media (max-width:992px) {
    .agents .card-cont {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-column-gap: 0;  
    }
    .agents .card-cont .card {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    
}

.agents .card-cont .card {
    box-shadow: 0px 2px 8px 0px rgb(24 49 56 / 15%);
    max-width: 400px;
}

.agents .card .image img {
    width: 100%;
    height: 100%;
}

.agents .card .content {
    background-color: #fff;
    padding: 20px;
}
.agents .card h4 {
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 15px;
}
.agents .card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agents .card .info .name {
    width: 70%;
}
.agents .card .info .name p {
    font-size: 15px;
    color: var(--hover-color);
}
.agents .card .info .social {
    display: flex;
    width: 30%;   
    justify-content: space-between;
}

/* end agents */

/* start add */
.add {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.add .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.add .location {
    position: relative;
}

.add .location .info {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    width: fit-content;
    padding: 20px 35px;
    background-color: var(--hover-color);
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.add .location p {
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
}

.add .text {
    width: 40%;  
}
.add .text h3 {
    text-transform: capitalize;
    font-size: 25px;
    padding-bottom: 20px;
}
.add .text p{
    line-height: 2;
    padding-bottom: 10px;
}

.add .text button {
    background-color:var(--text-color);
    color:#fff;
    font-weight: bold;
    padding: 20px 10px;
    width: 70%;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;  
}

.add .text button:hover {
    background-color: var(--hover-color);
}

.add .reverse {
    flex-direction: row-reverse;    
}

.add .reverse .right {
    left: 80%;
}

@media (max-width:992px) {
    .add .row {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .add .text {
        padding-top: 50px;
        width: 100%;
    }
    .add .location {
        left: 50%;
        transform: translate(-50%); 
    }
    .add .location img {
        width: 100%;
    }
    .add .reverse .right {
        left: 50%;
    }
}
/* end add */

/* start footer */

.footer {
    background-color: var(--text-color);
    width: 100%;
    color: #fff;
    padding: 60px 0;
}


.footer .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer .contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -45px;
    background-color: #919EB1;
}

.footer .contact h2 {
    font-size: 40px;
    width: 50%;
}

.footer .contact form {
    width: 50%;
    display: flex;
    position: relative;
}
.footer .contact form input{
    width: 80%;
    padding: 25px 20px;
    border: none;
}

.footer .contact form input::placeholder{
    text-transform: capitalize;
}

.footer .contact form button {
    width: 20%;
    background-color: #fbfbfb;
    background-image: url(../image/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none; 
    transition: 0.5s;
} 


.footer .contact form button:hover {
    background-color: var(--hover-color);
}

@media (max-width:768px) {
    .footer .contact {
        flex-direction: column;
    }

    .footer .contact h2 {
        width: 100%;
        padding-bottom: 25px;
    }
    .footer .contact form {
        width: 100%;
    }
}

.footer .info {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer .info .left {
    width: 30%;
    display: flex;
    align-items: center;
}

.footer .info .left .col {
    height: 100%;
}

.footer .info .left .col h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

.footer .info .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .info .right .col {
    height: 100%;
}

.footer .info .right .col h4 {
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 40px;
    font-size: 15px;
    color: #919EB1;
}

.footer .info .right .col p {
    text-transform: capitalize;
    padding-bottom: 15px;
    cursor: pointer;
}

@media (max-width:768px) {
    .footer .info {
        flex-direction: column;
    }

    .footer .info .left {
        display: block;
        width: 100%;
    }
    .footer .left .col {
        display: flex;
        justify-content: space-between;
    }
    .footer .info .right {
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (max-width:575px) {
    .footer .info .right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* end footer */